// TODO: Differentiate focus and mapLocation states. Both look the same atm.
.root:is(:has(a:focus-visible), :target),
.showOnMapButton:focus-visible {
  outline: var(--border-width) solid var(--color-accent); // TODO: Should we try to use `xxx-color-accent` instead?
  outline-offset: var(--border-width);
}

.showOnMapButton {
  position: relative;
  z-index: 20;
}

.eventListItemStatus {
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1ch;
  position: absolute;
  top: calc(var(--border-width)*6);
  right: calc(var(--border-width)*6);
  padding-inline: calc(var(--padding)*.25);
  height: calc(var(--border-width)*10);
  border-color: rgba(0, 0, 0, 0);
  color: var(--color-text);
  background-color: rgba(var(--color-background-rgb), 0.5);
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px);

  @media(prefers-reduced-transparency: reduce)or (prefers-contrast: more) {
    background-color: var(--color-background);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }

  &::before {
    content: "";
    height: calc(100% - var(--border-width)*3);
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--color-accent);
    animation: blink 2s infinite;
  }
}