.root {
  transition: color var(--duration) ease;
  border: 0px solid var(--color-background);
  user-select: none;
  color: var(--color-text);
  background-color: rgba(var(--color-background-rgb), 0.5);
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px);
  grid-area: header;

  @media only screen and (min-width: 769px) {
    display: flex;
    align-items: stretch;
    block-size: var(--header-height);
    border-block-end-width: var(--border-width);
  }

  @media only screen and (max-width: 768px) {
    border-block-start-width: var(--border-width);
  }

  @media (prefers-reduced-transparency: reduce) or (prefers-contrast: more) {
    background-color: var(--color-background);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}

.brand {
  display: flex;
  align-items: center;
  height: 100%;
  gap: var(--padding);
  padding-inline: var(--page-padding);


  &:hover {
    --translate: -1px;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.icon {
  fill: currentColor;
  inline-size: calc(var(--icon-size)*1.5 + 2px);
  block-size: calc(var(--icon-size)*1.5 + 2px);

  #logo-left {
    transform: translate(var(--translate), calc(var(--translate) * -0.7));
  }

  #logo-top {
    transform: translate(0, calc(var(--translate) * 1));
  }

  #logo-right {
    transform: translate(calc(var(--translate) * -1), calc(var(--translate) * -0.7));
  }
}

.iconPart {
  transform-origin: center;

  @media(prefers-reduced-motion: no-preference) {
      transition: transform 1s ease-out;
  }
}

.logo {
  fill: currentColor;
  height: 33%;
}

.menu {
  display: grid;

  @media only screen and (min-width: 769px) {
    grid-template-columns: repeat(3, auto)
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    height: 100%
  }
}

.button {
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--border-radius)*.5);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  transition: background-color var(--duration) ease;
  outline-offset: calc(var(--border-width)*-1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media(hover: hover) {
    &:hover {
      background-color: var(--color-background-transparent-hover);
    }
  }

  @media only screen and (min-width: 769px) {
    padding-inline: var(--page-padding);
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    font-size: var(--font-size-small);
    padding-top: var(--page-padding);
    padding-bottom: max(var(--page-padding), env(safe-area-inset-bottom));
  }

  &[aria-current=page] {
    color: var(--color-accent);

    @media only screen and (min-width: 769px) {
      box-shadow: inset 0 calc(var(--border-width)*-2) 0 currentColor;
    }

    @media only screen and (max-width: 768px) {
      box-shadow: inset 0 calc(var(--border-width)*2) 0 currentColor;
    }
  }

  > svg {
    fill: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    flex-shrink: 0;
  }
}