.root {
  position: sticky;
  inset-block-start: 0;
  z-index: 30;
  background-color: var(--xxx-color-background-backdrop);
  padding: var(--padding);
}

.pageTitleEnd {
  display: flex;
  column-gap: 0.5rem;
}

.filterIconWrapper {
  position: relative;
}

.filterActivatedMarker {
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: translate(50%, -50%);
}