.root {
  display: grid;
  column-gap: var(--padding);
  align-items: start;
  grid-area: title-bar;
  margin-block-start: var(--padding);

  @media only screen and (min-width: 769px) {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "title start end" "drawer drawer drawer"
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr auto;
    grid-template-areas: "title title" "start end" "drawer drawer"
  }

  > h1 {
    grid-area: title;
    text-wrap: balance;
    margin-left: max(var(--page-padding), env(safe-area-inset-left));

    @media only screen and (max-width: 768px) {
      margin-right: max(var(--page-padding), env(safe-area-inset-right))
    }
  }
}

.pageTitleStart {
  grid-area: start;
  column-gap: var(--padding);

  @media only screen and (max-width: 768px) {
    margin-left: max(var(--page-padding), env(safe-area-inset-left));
  }
}

.pageTitleEnd {
  display: flex;
  column-gap: 0.5rem;
  grid-area: end;
  margin-right: max(var(--page-padding), env(safe-area-inset-right));
}

.pageTitleStart,
.pageTitleDrawer {
  display: flex;
  align-items: center;
}

.pageTitleDrawer {
  box-sizing: content-box;
  grid-area: drawer;
  max-height: 0;
  overflow-y: hidden;

  @media(prefers-reduced-motion: no-preference) {
      transition: max-height var(--duration) ease-out, opacity var(--duration) ease-out
  }
}











.filterIconWrapper {
  position: relative;
}

.filterActivatedMarker {
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: translate(50%, -50%);
}