<div class="banner-event-slides">
  {% if page.featured and page.video %}
  <div id="trailer">
    <video autoplay muted loop playsinline poster="{{ page.image }}">
      <source
        src="/assets/video/events/{{ page.title | slugify }}.mp4"
        type="video/mp4"
      />
      <source
        src="/assets/video/events/{{ page.title | slugify }}.ogv"
        type="video/ogv"
      />
      <source
        src="/assets/video/events/{{ page.title | slugify }}.webm"
        type="video/webm"
      />
    </video>
  </div>
  {% endif %}
  <div id="poster" style="--_post-image: url({{ page.image }});">
    <img
      srcset="/.netlify/images/?url={{ page.image }}&h=1024 2x /.netlify/images/?url={{ page.image }}&h=1536 3x"
      src="/.netlify/images/?url={{ page.image }}&h=512"
      alt="{{ page.title | smartify }} image"
      draggable="false"
      style="view-transition-name: post-image-{{ page.title | slugify }};"
    />
  </div>
  <div id="map" data-location="{{ page.location | uri_escape }}"></div>
</div>

<ul class="button-group banner-event-links" data-variant="overlay">
  {% if page.featured and page.video %}
  <li>
    <a class="button" href="#trailer" tabindex="-1">Trailer</a>
  </li>
  {% endif %}
  <li>
    <a class="button" href="#poster" tabindex="-1">Poster</a>
  </li>
  <li>
    <a class="button" href="#map" tabindex="-1">Map</a>
  </li>
</ul>
