<dialog id="add-event">
  <div class="dialog-header">
    <h1>Add an event</h1>

    <button
      aria-label="Close dialog"
      title="Close"
      autofocus
      onclick="document.getElementById('add-event').close()"
    >
      <svg alt="Close" aria-hidden="true">
        <use xlink:href="/assets/symbols.svg#close"></use>
      </svg>
    </button>
  </div>

  <div class="dialog-body">
    <form
      name="add-event-form"
      id="add-event-form"
      method="POST"
      enctype="multipart/form-data"
      data-netlify="true"
      data-netlify-recaptcha="true"
    >
      <label for="event-name">Event name</label>
      <input
        type="text"
        name="event-name"
        id="event-name"
        required
        placeholder="Defqon.1 Weekend Festival {{ 'now' | date: '%Y' }}"
      />

      <label for="datestart">Event start date & time</label>
      <input type="datetime-local" name="datestart" id="datestart" required />

      <label for="dateend">Event end date & time</label>
      <input type="datetime-local" name="dateend" id="dateend" />

      <label for="location">Event address</label>
      <input
        type="text"
        name="location"
        id="location"
        placeholder="Spijkweg 30, 8256 RJ Biddinghuizen, Nederland"
      />

      <label for="type">Event type</label>
      <select name="type" id="type" required>
        <option disabled selected value></option>
        {% for type in site.event-types %}
        <option value="{{ type | slugify }}">{{ type }}</option>
        {% endfor %}
      </select>

      <label for="age">Event age limit</label>
      <input type="text" name="age" id="age" placeholder="18+" />

      <label for="hosts">Event host(s)</label>
      <select name="hosts" id="hosts" multiple required>
        {% for host in site.event-hosts %}
        <option value="{{ host.name | slugify }}">{{ host.name }}</option>
        {% endfor %}
        <option value="other">Other</option>
      </select>

      <!-- Hidden text input for custom host -->
      <div id="otherHostDiv" style="display: none">
        <label for="otherHost">Other Host</label>
        <input
          type="text"
          name="otherHost"
          id="otherHost"
          placeholder="Enter custom host"
        />
      </div>

      <label for="website">Event website</label>
      <input
        type="text"
        name="website"
        id="website"
        placeholder="https://defqon1.com"
      />

      <label for="facebook">Event Facebook page</label>
      <input
        type="text"
        name="facebook"
        id="facebook"
        placeholder="https://www.facebook.com/events/838924394232971"
      />

      <label for="fileInput">Image</label>
      <div
        class="input-type-file-drop"
        id="drop-zone"
        onclick="document.getElementById('fileInput').click();"
      >
        <p id="drop-zone-instructions">
          Drag and drop your file here or click to select a file.
        </p>
        <img id="image-preview" style="display: none" />
        <input
          type="file"
          id="fileInput"
          name="image"
          accept="image/png, image/jpeg"
          style="display: none"
        />
      </div>

      <div data-netlify-recaptcha="true"></div>
    </form>
  </div>

  <div class="dialog-footer">
    <ul class="button-group">
      <li>
        <button
          aria-label="Submit form"
          class="button"
          type="submit"
          form="add-event-form"
          data-variant="call-to-action"
          id="add-event-form-button-submit"
          disabled
        >
          Submit
        </button>
      </li>
      <li>
        <button
          aria-label="Reset form"
          class="button"
          type="reset"
          form="add-event-form"
          id="add-event-form-button-reset"
        >
          Reset
        </button>
      </li>
    </ul>
  </div>
</dialog>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hostsSelect = document.getElementById("hosts");
    const otherHostDiv = document.getElementById("otherHostDiv");

    hostsSelect.addEventListener("change", function (e) {
      if (e.target.value === "other") {
        otherHostDiv.style.display = "block";
      } else {
        otherHostDiv.style.display = "none";
      }
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("add-event-form");
    const submitButton = document.getElementById(
      "add-event-form-button-submit"
    );
    const resetButton = document.getElementById("add-event-form-button-reset");

    // Function to update the state of the submit button
    const toggleButtonState = () => {
      // Check if all required fields are filled (you can add more specific checks if needed)
      const isValid = Array.from(form.elements).every((input) => {
        return input.required ? input.value.trim() !== "" : true;
      });

      // Enable or disable the submit button based on the form validity
      submitButton.disabled = !isValid;
    };

    // Add event listeners to each form field
    Array.from(form.elements).forEach((input) => {
      input.addEventListener("input", toggleButtonState);
    });

    // Add an event listener to the form reset event
    form.addEventListener("reset", function () {
      // Wait for the form to reset, then disable the submit button
      setTimeout(() => {
        submitButton.disabled = true;
      }, 0);
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dropZone = document.getElementById("drop-zone");
    const fileInput = document.getElementById("fileInput");
    const dropZoneInstructions = document.getElementById(
      "drop-zone-instructions"
    );
    const imagePreview = document.getElementById("image-preview");

    fileInput.addEventListener("change", function () {
      const files = fileInput.files;
      if (files.length > 0) {
        const file = files[0];
        displayImagePreview(file);
      }
    });

    dropZone.addEventListener("dragover", function (e) {
      e.preventDefault();
    });

    dropZone.addEventListener("drop", function (e) {
      e.preventDefault();
      const files = e.dataTransfer.files;
      if (files.length > 0) {
        const file = files[0];
        fileInput.files = files; // Assign the file to the input
        displayImagePreview(file);
      }
    });

    function displayImagePreview(file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        imagePreview.src = e.target.result;
        imagePreview.style.display = "block";
        dropZoneInstructions.style.display = "none";
      };
      reader.readAsDataURL(file);
    }
  });
</script>
