<footer>
  <ul class="footer-list">
    <li title="Last updated on {{ 'now' | date: '%b %d, %Y @ %H:%M %Z' }}">
      &copy; {{ "now" | date: "%Y" }} {{ site.title }}
    </li>
    <li>
      <a href="mailto:{{ site.email }}" class="footer-anchor">Contact us</a>
    </li>
    <li>
      <a
        href="https://www.iubenda.com/privacy-policy/61434249"
        class="footer-anchor"
      >
        Privacy policy
      </a>
      <script type="text/javascript">
        (function (w, d) {
          var loader = function () {
            var s = d.createElement("script"),
              tag = d.getElementsByTagName("script")[0];
            s.src = "https://cdn.iubenda.com/iubenda.js";
            tag.parentNode.insertBefore(s, tag);
          };
          if (w.addEventListener) {
            w.addEventListener("load", loader, false);
          } else if (w.attachEvent) {
            w.attachEvent("onload", loader);
          } else {
            w.onload = loader;
          }
        })(window, document);
      </script>
    </li>
    <li>
      <a
        href="https://www.iubenda.com/privacy-policy/61434249/cookie-policy"
        class="footer-anchor"
      >
        Cookie policy
      </a>
      <script type="text/javascript">
        (function (w, d) {
          var loader = function () {
            var s = d.createElement("script"),
              tag = d.getElementsByTagName("script")[0];
            s.src = "https://cdn.iubenda.com/iubenda.js";
            tag.parentNode.insertBefore(s, tag);
          };
          if (w.addEventListener) {
            w.addEventListener("load", loader, false);
          } else if (w.attachEvent) {
            w.attachEvent("onload", loader);
          } else {
            w.onload = loader;
          }
        })(window, document);
      </script>
    </li>
  </ul>
</footer>
