<header>
  <ul role="menu">
    <li role="presentation">
      <a
        class="header-button"
        role="menuitem"
        {% if page.url == '/' or page.url == '/events/' %}
          aria-current="page"
        {% endif %}
        {% if page.url == '/' %}
          href="#top"
        {% else %}
          href="/"
        {% endif %}
        >
        <svg alt="Calendar icon" aria-hidden="true">
          <use xlink:href="/assets/symbols.svg#calendar"></use>
        </svg>
        Events
      </a>
    </li>
    <li role="presentation">
      <a class="header-button" role="menuitem" href="/community.html" {% if page.url == '/community.html' %}aria-current="page"{% endif %}>
        <svg alt="Chat icon" aria-hidden="true">
          <use xlink:href="/assets/symbols.svg#chat"></use>
        </svg>
        Community
      </a>
    </li>
    <li role="presentation">
      <a class="header-button" role="menuitem" href="/about.html" {% if page.url == '/about.html' %}aria-current="page"{% endif %}>
        <svg alt="Information icon" aria-hidden="true">
          <use xlink:href="/assets/symbols.svg#info"></use>
        </svg>
        About
      </a>
    </li>
  </ul>
</header>
