<header>
  <svg class="header-brand" alt="Hard.Dance icon" aria-hidden="true">
    <use xlink:href="/assets/symbols.svg#icon"></use>
  </svg>
  <ul class="header-menu-list" role="menu">
    <li role="presentation">
      <a
        class="header-button"
        role="menuitem"
        {% if page.url == '/' or page.url contains '/events' %}
          aria-current="page"
        {% endif %}
        {% if page.url == '/' %}
          href="#top"
        {% else %}
          href="/"
        {% endif %}
        >
        <svg alt="Calendar icon" aria-hidden="true">
          <use xlink:href="/assets/symbols.svg#calendar"></use>
        </svg>
        Events
      </a>
    </li>
    <li role="presentation">
      <a class="header-button" role="menuitem" href="/community.html" {% if page.url == '/community.html' %}aria-current="page"{% endif %}>
        <svg alt="Chat icon" aria-hidden="true">
          <use xlink:href="/assets/symbols.svg#chat"></use>
        </svg>
        Community
      </a>
    </li>
    <li role="presentation">
      <a
      class="header-button"
      role="menuitem"
      {% if page.url == '/about.html' %}
        aria-current="page"
        href="#top"
      {% else %}
        href="/about.html"
      {% endif %}
      >
        <svg alt="Information icon" aria-hidden="true">
          <use xlink:href="/assets/symbols.svg#info"></use>
        </svg>
        About
      </a>
    </li>
  </ul>

  <a class="header-button" href="#" data-variant="live">Live stream</a>
</header>
