<div class="page-title">
  <h1 {% if page.layout == 'event' %}style="view-transition-name: post-title-{{ page.title | slugify }};"{% endif %}>{{ page.title }}</h1>

  {% if page.layout == 'events' %}
  <div class="page-title-start">
    <a aria-label="View past events" class="button" href="/events/">
      <svg alt="Past icon" aria-hidden="true">
        <use xlink:href="/assets/symbols.svg#past"></use>
      </svg>
      <span class="hide-on-mobile">Past</span>
    </a>
    <button
      aria-label="Add event"
      class="button"
      onclick="document.getElementById('add-event').show()"
    >
      <svg alt="Add icon" aria-hidden="true">
        <use xlink:href="/assets/symbols.svg#add"></use>
      </svg>
      <span class="hide-on-mobile">Add</span>
    </button>
  </div>

  <div class="page-title-end">
    <a
      aria-label="Subscribe to RSS feed"
      class="button"
      href="feed:{{ '/feed.xml' | absolute_url }}"
    >
      <svg alt="RSS icon" aria-hidden="true">
        <use xlink:href="/assets/symbols.svg#rss"></use>
      </svg>
      <span class="hide-on-mobile">Subscribe</span>
    </a>
    <button
      class="button"
      id="events-filter-drawer-button"
      aria-label="Show filter options"
      aria-controls="filters-drawer"
      aria-expanded="false"
      data-filter-active="false"
    >
      <svg alt="Filter icon" aria-hidden="true">
        <use xlink:href="/assets/symbols.svg#options"></use>
      </svg>
      <span class="hide-on-mobile">Filters</span>
      <svg alt="Chevron icon" aria-hidden="true">
        <use xlink:href="/assets/symbols.svg#chevron-down"></use>
      </svg>
    </button>
  </div>
  {% elsif page.layout == 'event' %}
    {% if page.links %}
    <ul class="button-group page-title-end">
      {% for link in page.links %}
      <li>
        <a
          class="button"
          href="{{ link.url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg alt="{{ link.title }} icon" aria-hidden="true">
            <use
              xlink:href="/assets/symbols.svg#{{ link.title | slugify }}"
            ></use>
          </svg>
          <span class="hide-on-mobile">{{ link.title }}</span>
        </a>
      </li>
      {% endfor %}
      <li>
        <button
          class="button"
          id="shareButton"
        >
          <svg alt="{{ link.title }} icon" aria-hidden="true">
            <use
              xlink:href="/assets/symbols.svg#share"
            ></use>
          </svg>
          <span class="hide-on-mobile">Share</span>
        </button>
      </li>
    </ul>
    {% endif %}
  {% endif %}
  
  {% if page.layout == 'events' %}
  <div class="page-title-drawer" id="filters-drawer">
    <div class="page-title-drawer-items-wrapper" inert>
      <div class="page-title-drawer-item">
        <label for="filter-location">
          Location
          <select name="location" id="filter-location">
            <option value="all" selected>All</option>
            <option value="north-america">North America</option>
            <option value="south-america">South America</option>
            <option value="europe">Europe</option>
            <option value="asia">Asia</option>
            <option value="virtual">Virtual</option>
          </select>
        </label>
      </div>

      <div class="page-title-drawer-item">
        <label for="filter-type">
          Type
          <select name="type" id="filter-type">
            <option value="all" selected>All</option>
            {% for type in site.event-types %}
            <option value="{{ type | slugify }}">{{ type }}</option>
            {% endfor %}
          </select>
        </label>
      </div>

      <div class="page-title-drawer-item">
        <label for="filter-host">
          Host
          <select name="host" id="filter-host">
            <option value="all" selected>All</option>
            {% for host in site.event-hosts %}
            <option value="{{ host.name | slugify }}">{{ host.name }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
    </div>
  </div>
  {% endif %}
</div>