@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-accent);
  }

  70% {
    box-shadow: 0 0 0 6vh transparent;
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes stars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes toast {
  0% {
    opacity: 0;
    transform: scale(0.25);
    bottom: -1rem;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    bottom: 1rem;
  }
}
