.banner {
  &[data-variant="events"] {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: max(var(--page-padding), env(safe-area-inset-left));
    padding-right: max(var(--page-padding), env(safe-area-inset-right));
  }

  &[data-variant="event"] {
    overflow: hidden;
    position: relative;
  }
}

// #region Events
.banner-events-logo {
  fill: var(--color-text);
  width: 42.5%;
}

.banner-events-globe {
  width: 15%;
  aspect-ratio: 1/1;
  position: relative;

  > canvas {
    border-radius: 50%;
    width: 120%;
    aspect-ratio: 1/1;
    contain: layout paint size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  // Shadow
  &::before {
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at center, black 30%, transparent 70%);
  }

  // Pulse
  &::after {
    width: 100%;
    height: 100%;
    z-index: -1;

    @media (prefers-reduced-motion: no-preference) {
      animation: pulse 1.6s infinite;
    }
    @media (prefers-reduced-motion: no-preference) {
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 white;
        }

        70% {
          box-shadow: 0 0 0 6vh rgba(0, 0, 0, 0);
        }

        100% {
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
      }
    }
  }
}

@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF"; // TODO: This doesnt work on ultrawides
  @for $i from 2 through $n {
    $value: "#{$value}, #{random(2000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

.banner-events-stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar 50s linear infinite;
  position: absolute;
  inset: 0;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
  }

  &[data-variant="1"] {
    box-shadow: $shadows-small;

    &:after {
      box-shadow: $shadows-small;
    }
  }

  &[data-variant="2"] {
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
    animation-duration: 100s;

    &:after {
      width: 2px;
      height: 2px;
      box-shadow: $shadows-medium;
    }
  }

  &[data-variant="3"] {
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
    animation-duration: 150s;

    &:after {
      width: 3px;
      height: 3px;
      box-shadow: $shadows-big;
    }
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
// #endregion Events

// #region Event

.banner-event-links {
  position: absolute;
  bottom: var(--page-padding);
  left: 50%;
  transform: translateX(-50%);
}

.banner-event-slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  outline-offset: calc(var(--border-width) * -1);
  user-select: none;

  > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: calc(50vh - var(--header-height));
    height: calc(50dvh - var(--header-height));
    display: flex;
    justify-content: center;
  }
}

#poster > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
// #endregion Event
