.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(Min(100%, 20rem), 1fr));
  gap: var(--page-padding);
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: max(var(--page-padding), env(safe-area-inset-right));
}

.event-list {
  > li {
    background-color: var(--color-tile-image-color, var(--color-background));
    border-radius: var(--border-radius);
    user-select: none;
    position: relative;
    transition: transform var(--duration);
    @media (forced-colors: active) {
      border: calc(var(--border-width) * 0.5) solid CanvasText;
    }

    &:hover,
    &:focus-within {
      transform: scale(1.05);
    }

    &[data-featured="true"] {
      box-shadow: 0 0 50px 0 var(--color-tile-image-color);

      &::before {
        content: "⭐️";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        inset: 0 auto auto 0;
        border-top-left-radius: inherit;
        border-bottom-right-radius: inherit;
        width: calc(var(--border-width) * 20);
        height: calc(var(--border-width) * 20);
        background-color: inherit;
        z-index: 1;
        @media (forced-colors: active) {
          border: calc(var(--border-width) * 3) solid CanvasText;
        }
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        border: calc(var(--border-width) * 3) solid
          var(--color-tile-image-color, transparent);
      }
    }
  }
}

.event-list-item-image {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  user-select: none;
  mask-image: linear-gradient(#000 90%, transparent 100%);
  border-start-start-radius: var(--border-radius);
  border-start-end-radius: var(--border-radius);
}

.event-list-item-metadata {
  padding: calc(var(--page-padding) * 0.5);
  padding-top: 0;
  display: grid;
  grid-template-areas: "date location" "title title";
}

.event-list-item-metadata-title {
  grid-area: title;
  color: var(--color-text);
  text-decoration: none;
  text-wrap: balance;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  outline: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    // background-color: red;
    border-radius: var(--border-radius);
  }

  &:focus::after {
    outline: 2px solid var(--color-accent);
    outline-offset: 2px;
  }
}

.event-list-item-metadata-date,
.event-list-item-metadata-location {
  font-size: var(--font-size-small);
  color: var(--color-text-muted);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.event-list-item-metadata-date {
  grid-area: date;
}

.event-list-item-metadata-location {
  grid-area: location;
  text-align: right;
}

.event-list-item-status {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 1ch;
  position: absolute;
  top: calc(var(--border-width) * 6);
  right: calc(var(--border-width) * 6);
  padding-inline: calc(var(--page-padding) * 0.25);
  height: calc(var(--border-width) * 10);

  @supports (backdrop-filter: blur(20px)) {
    background-color: rgba(var(--color-background-rgb), 0.75);
    backdrop-filter: blur(20px);
    border-color: transparent;
    text-shadow: 0 1px 0 var(--color-background-backdrop);
  }

  &::before {
    content: "";
    height: calc(100% - var(--border-width) * 3);
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: red;
    animation: blink 2s infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 0;
    } /* more concise! */
    50% {
      opacity: 1;
    }
  }
}

.admin-list {
  padding-inline: 0;

  > li {
    background-color: var(--color-background);
    border-radius: var(--border-radius);

    > img {
      width: 100%;
      height: 14rem;
      object-fit: cover;
      user-select: none;
      mask-image: linear-gradient(#000 90%, transparent 100%);
      border-start-start-radius: var(--border-radius);
      border-start-end-radius: var(--border-radius);
    }
  }
}

.admin-list-body {
  padding: calc(var(--page-padding) * 0.5);
  padding-top: 0;

  > p {
    color: var(--color-text-muted);
  }

  > ul {
    display: flex;
    column-gap: 1ch;
    margin-top: 1ch;

    svg {
      width: var(--icon-size);
      height: var(--icon-size);
      fill: currentColor;
    }
  }
}
