footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: max(var(--page-padding), env(safe-area-inset-right));
  padding-bottom: env(safe-area-inset-bottom);
  margin-top: auto;
  height: var(--header-height);
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  //   background-color: red;

  ul {
    display: flex;
    column-gap: 2ch;
  }

  a {
    color: var(--color-text-muted);
    text-decoration: none;
    transition: color var(--duration) ease;

    &:hover {
      color: var(--color-text);
    }
  }
}
