:root {
  --border-radius: 1rem;
  --duration: 0.25s;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-size-largest: 2.0582rem;
  --font-size-larger: 1.618rem;
  --font-size-large: 1.272rem;
  --font-size: 1rem;
  --font-size-small: 0.7862rem;
  --font-weight-normal: 400;
  --font-weight-bold: 550;
  --opacity: 0.28;
  --page-padding: 2rem;

  // #region Colors
  --color-background-rgb: 28, 28, 30;
  --color-background-backdrop-rgb: 000, 000, 000;
  --color-background-hover-rgb: 049, 048, 053;
  --color-text-rgb: 255, 255, 255;
  --color-text-muted-rgb: 151, 150, 156;
  --color-icon-rgb: 153, 153, 153;
  --color-border-rgb: 061, 060, 065;
  --color-accent-rgb: 059, 130, 246;

  --color-background: rgb(var(--color-background-rgb));
  --color-background-backdrop: rgb(var(--color-background-backdrop-rgb));
  --color-background-hover: rgb(var(--color-background-hover-rgb));
  --color-text: rgb(var(--color-text-rgb));
  --color-text-muted: rgb(var(--color-text-muted-rgb));
  --color-border: rgb(var(--color-border-rgb));
  --color-icon: rgb(var(--color-icon-rgb));
  --color-accent: rgb(var(--color-accent-rgb));
  // #endregion Colors

  --header-height: 4rem;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background-backdrop);
}
