*:focus-visible {
  outline: var(--border-width) solid var(--color-accent);
}

*::selection {
  background-color: var(--color-accent);
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-background-backdrop);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

main {
  display: grid;
  row-gap: 1rem;
  /* prettier-ignore */
  grid-template-columns:
    [full-width-start]
    max(var(--page-padding), env(safe-area-inset-left))
    [content-start]
    minmax(0, 1fr)
    [padded-start]
    min(calc(60rem - max(var(--page-padding), env(safe-area-inset-left)) - max(var(--page-padding), env(safe-area-inset-right))),
    calc(100% - max(var(--page-padding), env(safe-area-inset-left)) - max(var(--page-padding), env(safe-area-inset-right))))
    [padded-end]
    minmax(0, 1fr)
    [content-end]
    max(var(--page-padding), env(safe-area-inset-right))
    [full-width-end];
}

@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
