header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  transition: background-color var(--duration) ease, color var(--duration) ease;
  color: var(--color-text-muted);

  &[data-scrolled="true"] {
    background-color: var(--color-background-backdrop);
    color: var(--color-text);
  }

  > UL {
    display: flex;
  }

  a,
  button {
    color: inherit;
    background-color: transparent;
    border: none;
    height: 100%;
    padding-inline: var(--page-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    transition: background-color var(--duration) ease;
    user-select: none;
    outline-offset: calc(var(--border-width) * -1);

    &:hover {
      background-color: var(--color-background-transparent-hover);
    }

    &[aria-active="current"] {
      box-shadow: inset 0 4px 0 currentColor;
    }
  }

  svg {
    fill: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.page-title {
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: max(var(--page-padding), env(safe-area-inset-right));

  > .page-title-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;

    // background-color: red;
  }

  label {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    user-select: none;
    display: flex;
    column-gap: 1ch;
    color: var(--color-text-muted);
  }

  select {
    background-color: var(--color-background);
    border-color: var(--color-background);
    width: 7rem;
    color: var(--color-text);
  }
}

.empty-state {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: max(var(--page-padding), env(safe-area-inset-right));
  text-align: center;
}

.empty-state-emoji {
  font-size: 6rem;
  user-select: none;
}
