$animation-time: 5.5s;

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  overflow: hidden;
  user-select: none;
  background-color: #000;
  color: #fff;

  .cover {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
      animation: logo-fade calc(#{$animation-time} + 1s) ease-out;
      animation-fill-mode: forwards;
    }
  }

  svg {
    width: 100%;
    height: 100%;
    fill: white;
    animation: logo-scale $animation-time ease-out;
  }

  h1 {
    opacity: 0;
    animation: text-fade $animation-time ease-out;
    animation-delay: $animation-time;
    animation-fill-mode: forwards;
    font-size: 7.5vw;

    @media screen and (min-width: 1137px) {
      body {
        font-size: 85px;
      }
    }
  }

  footer {
    position: fixed;
    width: 100%;
    inset-block-end: 0;
    height: 3rem;
    background-color: black;
    opacity: 0;
    animation: text-fade $animation-time ease-out;
    animation-delay: $animation-time;
    animation-fill-mode: forwards;

    &,
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    ul {
      column-gap: 1rem;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

@keyframes logo-fade {
  from {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes logo-scale {
  from {
    opacity: 0;
    transform: scale(.5, .5);
  }
  20% {
    opacity: 0;
    transform: scale(.5, .5);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes text-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}