body {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  row-gap: 1rem;
  padding-bottom: max(var(--page-padding), env(safe-area-inset-bottom));
}

header {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: var(--header-height);
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 2;
}

.banner {
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: max(var(--page-padding), env(safe-area-inset-right));
  height: calc(50vh - var(--header-height));
  height: calc(50dvh - var(--header-height));
  min-height: 15rem;
}
