<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  {% include head.html %}
  <body style="overflow: hidden">
    {% include header.html %}
    <video
      autoplay
      muted
      loop
      playsinline
      poster="/.netlify/images/?url=/assets/video/about-banner.jpg"
      class="error-video"
    >
      <source src="/assets/video/about-banner.mp4" type="video/mp4" />
      <source src="/assets/video/about-banner.ogv" type="video/ogv" />
      <source src="/assets/video/about-banner.webm" type="video/webm" />
    </video>

    <div class="error-content">
      <img
        src="/.netlify/images/?url=/assets/img/error.gif"
        alt="Where am I?"
        draggable="false"
      />
      <h1 id="error-title"></h1>
      <a href="/" class="button" data-variant="call-to-action">Go home</a>
    </div>

    {% include scripts.html %}
  </body>
</html>
