widgetbot {
  width: 100%;
  height: 100%;

  // Desktop
  @media only screen and (min-width: 769px) {
    margin-block-start: var(--header-height);
  }

  // Mobile
  @media only screen and (max-width: 768px) {
    margin-block-end: calc(var(--header-height) + env(safe-area-inset-bottom));
  }
}
