.event-button-group {
  align-self: center;

  @media only screen and (max-width: 393px) {
    flex-direction: column;
  }
}

dl {
  text-align: center;
  grid-column: padded-start / padded-end;

  > dt {
    color: var(--color-text-muted);
    font-size: var(--font-size-large);

    &::after {
      content: ":";
    }
  }

  > dd {
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bold);

    &:not(:last-child) {
      margin-block-end: var(--page-padding);
    }
  }
}
