.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.jonLookHere {
  grid-area: main;
  overflow-y: auto;
  mask-image: linear-gradient(to top, black calc(100% - var(--page-padding)), transparent 100%);
}