.body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: var(--xxx-color-text);
  background-color: var(--xxx-color-background-backdrop);

  display: grid;
  grid-template-areas:
    "header header"
    "title-bar  title-bar"
    "aside  main";
  grid-template-rows: auto auto 1fr;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  max-block-size: 100vh;
  max-block-size: 100dvh;
}