@import "../mixins";

.button-group {
  display: flex;
  gap: var(--border-width);
  background-color: var(--_button-group-background-color);
  border: var(--border-width) solid var(--_button-group-background-color);
  border-radius: var(--border-radius);
  transition: background-color var(--duration) ease,
    border-color var(--duration) ease;

  &:not([data-variant]) {
    --_button-group-background-color: var(--color-background-backdrop);

    @media (hover: hover) {
      &:hover,
      &:focus-within {
        --_button-group-background-color: var(--color-background);
      }
    }
  }

  &[data-variant="overlay"] {
    --_button-group-background-color: var(--color-background);
    border-color: transparent;
    @include frosted-glass;
  }

  &[data-wrap] {
    flex-wrap: wrap;
    justify-content: center;
  }

  > li > .button {
    border-radius: calc(var(--border-radius) - var(--border-width));
  }
}

.button {
  height: var(--component-height);
  padding-inline: var(--component-padding-inline);
  text-decoration: none;
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid transparent;
  font-weight: var(--font-weight-bold);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) ease,
    border-color var(--duration) ease;
  border-radius: var(--border-radius);
  gap: calc(var(--border-radius) * 0.5);
  user-select: none;
  flex-shrink: 0;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-background-transparent-hover);
    }
  }

  > svg {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentColor;
    flex-shrink: 0;
  }

  &[data-variant="call-to-action"] {
    background-color: var(--color-accent);
    outline-color: var(--color-text);

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-accent);
      }
    }
  }

  &[disabled] {
    &,
    &:hover {
      background-color: var(--color-background-backdrop);
      color: var(--color-text-muted);
      font-weight: var(--font-weight-normal);
    }
  }
}
