details {
  border-radius: var(--border-radius);
  position: relative;

  &[open] > summary {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    &::before {
      transform: rotate(-180deg);
    }
  }

  &:target > summary {
    background-color: var(--color-accent);
  }
}

summary {
  background-color: var(--color-background);
  display: flex;
  gap: 1ch;
  align-items: center;
  height: var(--component-height);
  padding-inline: var(--component-padding-inline);
  border-radius: var(--border-radius);
  user-select: none;
  font-weight: var(--font-weight-bold);
  list-style: none;
  transition: background-color var(--duration) ease,
    border-radius var(--duration) ease;

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-background-hover);
    }
  }

  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M8.004 10.297c.172 0 .328-.07.469-.203l3.43-3.28a.61.61 0 0 0 .179-.462.63.63 0 0 0-.64-.649.672.672 0 0 0-.47.188L8.005 8.804 5.027 5.891a.622.622 0 0 0-.46-.188.637.637 0 0 0-.65.65c0 .21.079.35.18.46l3.438 3.281c.133.133.29.203.469.203Z'/%3E%3C/svg%3E");
    width: var(--icon-size);
    height: var(--icon-size);
    line-height: 24px; // TODO: This shouldn't be necessary
    @media (prefers-reduced-motion: no-preference) {
      transition: transform var(--duration) ease;
    }
  }

  &::-webkit-details-marker,
  &::marker {
    display: none;
  }
}

.details-summary-badge {
  padding-inline: var(--component-padding-inline);
  border-radius: calc(var(--component-padding-inline) - var(--border-width));
  margin-inline-start: auto;
  background-color: var(--color-background-transparent-hover);
  font-size: var(--font-size);
  color: var(--color-text-muted);
}

.details-body {
  border: var(--border-width) solid var(--color-background);
  border-top: 0px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  &[data-padding="false"] {
    overflow-x: auto;
    overscroll-behavior: none;
  }

  &:not([data-padding="false"]) {
    padding: var(--border-radius);
  }
}
