details {
  position: relative;

  &[open] .details-summary-expander-icon {
    transform: rotate(-180deg);
  }

  &:target > summary {
    background-color: var(--color-accent);
  }
}

summary {
  display: flex;
  gap: 1ch;
  align-items: center;
  min-height: var(--component-height);
  user-select: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  list-style: none;
  border-radius: var(--border-radius);

  &::-webkit-details-marker,
  &::marker {
    display: none;
  }

  &:hover .details-summary-expander {
    background-color: var(--xxx-color-background-transparent-hover);
  }
}

.details-summary-expander {
  display: grid;
  place-items: center;
  width: var(--component-height);
  height: var(--component-height);
  border-radius: var(--border-radius);
  transition: background-color var(--duration) ease;
  flex-shrink: 0;
}

.details-summary-expander-icon {
  fill: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  @media (prefers-reduced-motion: no-preference) {
    transition: transform var(--duration) ease;
  }
}

.details-summary-badge {
  padding-inline: var(--component-padding-inline);
  border-radius: calc(var(--component-padding-inline) - var(--border-width));
  background-color: var(--xxx-color-background-transparent-hover);
  font-size: var(--font-size);
  color: var(--xxx-color-text-muted);

  @media only screen and (max-width: 768px) {
    margin-inline-start: auto;
  }
}

.details-body {
  padding-block-start: var(--padding);

  &[data-padding="false"] {
    overflow-x: auto;
    overscroll-behavior: none;
  }
}
