dialog {
  display: grid;
  grid-template-rows: var(--header-height) 1fr auto;
  grid-template-areas: "header" "body" "footer";

  position: fixed;
  inset: 0;
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  min-width: 100vw;
  min-width: 100dvw;
  max-width: 100vw;
  max-width: 100dvw;
  border: none;
  color: var(--color-text);
  overscroll-behavior: none;
  background-color: var(--color-background-backdrop);
  z-index: 3;
  isolation: isolate;
  transform: scale(1);
  transition: opacity var(--duration) ease-out,
    transform var(--duration) ease-out;

  &:not([open]) {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.85);
    transition-timing-function: ease-in;
  }
}

.dialog-header {
  grid-area: header;
  z-index: 1;
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: env(safe-area-inset-right);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  position: sticky;
  inset: 0 0 auto 0;
  background-color: var(--color-background-backdrop);

  a,
  button {
    color: inherit;
    background-color: transparent;
    border: none;
    height: 100%;
    padding-inline: var(--page-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    transition: background-color var(--duration) ease;
    user-select: none;
    outline-offset: calc(var(--border-width) * -1);

    &:hover {
      background-color: var(--color-background-transparent-hover);
    }

    &[aria-active="current"] {
      box-shadow: inset 0 4px 0 currentColor;
    }
  }

  svg {
    fill: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}

.dialog-body {
  grid-area: body;
  overflow-y: auto;
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: max(var(--page-padding), env(safe-area-inset-right));
  padding-top: var(--page-padding);
  padding-bottom: calc(var(--page-padding) + env(safe-area-inset-bottom));
}

.dialog-footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--padding);
  padding-left: max(var(--page-padding), env(safe-area-inset-left));
  padding-right: max(var(--page-padding), env(safe-area-inset-right));
  padding-bottom: max(var(--page-padding), env(safe-area-inset-bottom));
}
