footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: env(safe-area-inset-bottom);
  margin-top: auto;
  min-height: var(--header-height);
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
}
