footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  height: calc(var(--header-height) + env(safe-area-inset-bottom));
  padding-bottom: min(1rem, env(safe-area-inset-bottom));

  // Mobile
  @media only screen and (max-width: 768px) {
    padding-bottom: calc(
      var(--header-height) + env(safe-area-inset-bottom) + 1rem
    );
    height: calc(var(--header-height) * 2 + env(safe-area-inset-bottom));
  }
}

.footer-list {
  display: flex;
  column-gap: 2ch;
}

.footer-anchor {
  color: inherit;
  text-decoration: none;
}
