header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  transition: color var(--duration) ease;
  color: var(--color-text-muted);
  @supports (backdrop-filter: blur(20px)) {
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
      var(--color-background-backdrop),
      transparent
    );
  }
  @supports not (backdrop-filter: blur(20px)) {
    background-color: var(--color-background-backdrop);
  }

  &[data-scrolled="true"] {
    color: var(--color-text);
  }

  > ul {
    display: flex;
  }

  a,
  button {
    color: inherit;
    background-color: transparent;
    border: none;
    height: 100%;
    padding-inline: var(--page-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    transition: background-color var(--duration) ease;
    user-select: none;
    outline-offset: calc(var(--border-width) * -1);
    text-shadow: 0 1px 0 var(--color-background-backdrop);

    &:hover {
      background-color: var(--color-background-transparent-hover);
    }

    &[aria-current="page"] {
      box-shadow: inset 0 calc(var(--border-width) * 2) 0 currentColor;
    }
  }

  svg {
    fill: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    filter: drop-shadow(0 1px 0 var(--color-background-backdrop));
  }
}
