header {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  position: fixed;
  z-index: 2;
  transition: color var(--duration) ease;
  background-color: rgba(var(--color-background-rgb), 0.5);
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px);
  border: 0px solid var(--color-background);
  user-select: none;
  color: var(--color-text);

  // Desktop
  @media only screen and (min-width: 769px) {
    inset: 0 0 auto 0;
    display: flex;
    align-items: stretch;
    height: var(--header-height);
    border-block-end-width: var(--border-width);
  }

  // Mobile
  @media only screen and (max-width: 768px) {
    inset: auto 0 0 0;
    height: calc(var(--header-height) + env(safe-area-inset-bottom));
    padding-bottom: env(safe-area-inset-bottom);
    border-block-start-width: var(--border-width);
  }
}

.header-menu-list {
  display: grid;

  // Desktop
  @media only screen and (min-width: 769px) {
    grid-template-columns: repeat(3, auto);
  }

  // Mobile
  @media only screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }
}

.header-brand {
  display: flex;
  align-items: center;
  height: 100%;

  > svg {
    fill: currentColor;
    width: calc(var(--icon-size) * 1.5 + 2px);
    height: calc(var(--icon-size) * 1.5 + 2px);
    margin-inline: var(--page-padding);
    cursor: none;

    > path {
      transform-origin: center;
      transition: transform 1s ease-out;
    }

    #logo-left {
      transform: translate(var(--translate), calc(var(--translate) * -0.7));
    }

    #logo-top {
      transform: translate(0, calc(var(--translate) * 1));
    }

    #logo-right {
      transform: translate(
        calc(var(--translate) * -1),
        calc(var(--translate) * -0.7)
      );
    }
  }

  &:hover {
    --translate: -1px;
  }

  // Mobile
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.header-button {
  color: inherit;
  background-color: transparent;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--border-radius) * 0.5);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  transition: background-color var(--duration) ease;
  outline-offset: calc(var(--border-width) * -1);
  -webkit-tap-highlight-color: transparent;

  &[aria-current="page"] {
    color: var(--color-accent);
  }

  // Desktop
  @media only screen and (min-width: 769px) {
    padding-inline: var(--page-padding);

    &[aria-current="page"] {
      box-shadow: inset 0 calc(var(--border-width) * -2) 0 currentColor;
    }

    &[data-variant="live"] {
      margin-inline-start: auto;
      text-transform: uppercase;

      &::before {
        content: "";
        height: var(--icon-size);
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: var(--color-accent);
        animation: blink 2s infinite;
      }
    }
  }

  // Mobile
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    font-size: var(--font-size-small);

    &[aria-current="page"] {
      box-shadow: inset 0 calc(var(--border-width) * 2) 0 currentColor;
    }

    &[data-variant="live"] {
      display: none;
    }
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-background-transparent-hover);
    }
  }

  > svg {
    fill: currentColor;
    width: var(--icon-size);
    height: var(--icon-size);
    flex-shrink: 0;
  }
}
