select {
  appearance: none;
  padding-inline: var(--border-radius);
  color: var(--color-text);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  border: 1px solid var(--color-background);
  transition: background-color var(--duration) ease,
    border-color var(--duration) ease;

  &:not([multiple]) {
    height: var(--component-height);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="white"><path d="M8.004 2.047c-.18 0-.336.07-.469.203L4.098 5.531a.64.64 0 0 0-.18.461c0 .367.281.649.648.649.149 0 .313-.04.461-.188L8.004 3.54l2.969 2.914c.148.14.32.188.468.188a.63.63 0 0 0 .641-.649.61.61 0 0 0-.18-.46L8.472 2.25a.672.672 0 0 0-.468-.203Zm0 11.906c.172 0 .328-.07.469-.203l3.43-3.281a.61.61 0 0 0 .179-.461.63.63 0 0 0-.64-.649.672.672 0 0 0-.47.188L8.005 12.46 5.027 9.547a.622.622 0 0 0-.46-.188.637.637 0 0 0-.649.649c0 .21.078.351.18.46l3.437 3.282c.133.133.29.203.469.203Z"/></svg>');
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: right center;
    background-position: calc(100% - var(--border-radius)) center;
    padding-inline-end: calc(var(--border-radius) * 2 + 1.5em);

    &::-ms-expand {
      display: none;
    }
  }

  &[multiple] {
    min-height: var(--component-height);
    resize: vertical;

    > option {
      height: var(--component-height);
      margin-inline: calc(var(--border-radius) * -1);
      padding-inline: var(--border-radius);
      display: flex;
      align-items: center;
      user-select: none;
      color: var(--color-text-muted);
      transition: background-color var(--duration) ease,
        color var(--duration) ease;

      &:hover {
        background-color: var(--color-background-transparent-hover);
        color: var(--color-text);
      }

      &:checked {
        background-color: var(--color-accent);
        color: var(--color-text);
        font-weight: var(--font-weight-bold);
      }
    }
  }

  &:hover {
    background-color: var(--color-background-hover);
    border-color: var(--color-background-hover);
  }
}
