.page-title {
  grid-column: full-width-start / full-width-end;
  display: grid;
  column-gap: var(--page-padding);
  // row-gap: calc(var(--border-width) * 2);
  grid-template-columns: 1fr auto;
  grid-template-areas: "start end" "drawer drawer";
}

.page-title-start,
.page-title-drawer {
  display: flex;
  align-items: center;
}

.page-title-start {
  // background-color: red;
  grid-area: start;
  column-gap: calc(var(--page-padding) * 0.5);
  margin-left: max(var(--page-padding), env(safe-area-inset-left));

  > h1 {
    text-wrap: balance;
  }
}

.page-title-end {
  // background-color: purple;
  grid-area: end;
  margin-right: max(var(--page-padding), env(safe-area-inset-right));
}

.page-title-drawer {
  // background-color: green;
  grid-area: drawer;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: calc(var(--border-width) * 2);
  padding-right: max(var(--page-padding), env(safe-area-inset-right));

  > label {
    &::before {
      content: "";
      width: calc(max(var(--page-padding), env(safe-area-inset-left)) - 0.5rem);
      scroll-snap-align: start;
    }

    &:first-child {
      margin-inline-start: auto;
    }
  }
}

.page-title-drawer-button {
  appearance: none;
  outline: none;

  &:focus-visible + label {
    outline: var(--border-width) solid var(--color-accent);
  }

  + .button::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M8.004 10.297c.172 0 .328-.07.469-.203l3.43-3.28a.61.61 0 0 0 .179-.462.63.63 0 0 0-.64-.649.672.672 0 0 0-.47.188L8.005 8.804 5.027 5.891a.622.622 0 0 0-.46-.188.637.637 0 0 0-.65.65c0 .21.079.35.18.46l3.438 3.281c.133.133.29.203.469.203Z'/%3E%3C/svg%3E");
    width: var(--icon-size);
    height: var(--icon-size);
    transition: transform var(--duration) ease;
  }

  &:checked {
    + .button::after {
      transform: rotate(-180deg);
    }

    ~ .page-title-drawer {
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      padding: calc(var(--border-width) * 2);
      padding-right: max(var(--page-padding), env(safe-area-inset-right));
    }
  }

  &:not(:checked) ~ .page-title-drawer {
    display: none;
  }
}
