.page-title {
  grid-column: full-width-start / full-width-end;
  display: grid;
  column-gap: var(--padding);
  align-items: start;

  // Desktop
  @media only screen and (min-width: 769px) {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "title start end"
      "drawer drawer drawer";
  }

  // Mobile
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "title title"
      "start end"
      "drawer drawer";
  }

  > h1 {
    grid-area: title;
    text-wrap: balance;
    margin-left: max(var(--page-padding), env(safe-area-inset-left));

    // Mobile
    @media only screen and (max-width: 768px) {
      margin-right: max(var(--page-padding), env(safe-area-inset-right));
    }
  }
}

.page-title-start,
.page-title-drawer {
  display: flex;
  align-items: center;
}

.page-title-start {
  grid-area: start;
  column-gap: var(--padding);

  // Mobile
  @media only screen and (max-width: 768px) {
    margin-left: max(var(--page-padding), env(safe-area-inset-left));
  }
}

.page-title-end {
  grid-area: end;
  margin-right: max(var(--page-padding), env(safe-area-inset-right));
}

.page-title-drawer {
  box-sizing: content-box;
  grid-area: drawer;
  max-height: 0;
  overflow-y: hidden;
  @media (prefers-reduced-motion: no-preference) {
    transition: max-height var(--duration) ease-out;
  }
}

.page-title-drawer-items-wrapper {
  display: flex;
  flex: 1;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: calc(var(--border-width) * 2);
  padding-right: max(var(--page-padding), env(safe-area-inset-right));
}

.page-title-drawer-item {
  scroll-snap-align: start;
  display: flex;
  column-gap: 1ch;

  &::before {
    content: "";
    width: calc(max(var(--page-padding), env(safe-area-inset-left)) - 0.5rem);
  }

  &:first-child {
    margin-inline-start: auto;
  }
}
