<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
  </head>
  <body>
    {% include header.html %}

    <main>
      <section class="about-banner" id="top">
        <h2 class="handwritten">Welcome to our digital tribe!</h2>
        <blockquote>{{ content }}</blockquote>
        <figcaption>Your <span>{{ site.title }}</span> crew</figcaption>

        <video
          autoplay
          muted
          loop
          playsinline
          poster="/assets/video/about-banner.jpg"
          class="about-banner-video"
        >
          <source src="/assets/video/about-banner.mp4" type="video/mp4" />
          <source src="/assets/video/about-banner.ogv" type="video/ogv" />
          <source src="/assets/video/about-banner.webm" type="video/webm" />
        </video>
      </section>

      <details class="about-details">
        <summary class="about-details-summary">
          The crew
          <span class="details-summary-badge">{{ site.admins | size }}</span>
        </summary>
        <div class="details-body">
          <ul class="grid">
            {% for admin in site.admins %}
            <li class="grid-item">
              <img
                class="grid-item-image"
                src="/assets/img/admins/{{ admin.name | slugify }}.jpg"
                alt="A photo of {{ admin.name }}"
                draggable="false"
              />

              <div class="grid-item-metadata">
                <h3 class="grid-item-metadata-title">
                  {{ admin.name }}{% if admin.alias %} / {{ admin.alias }}{%
                  endif %}
                </h3>
                <div class="grid-item-metadata-subtitle">
                  {{ admin.position }}
                </div>
                <div class="grid-item-metadata-symbol">
                  {{ admin.location }}
                </div>
                <ul
                  class="button-group grid-item-metadata-body about-the-crew-button-group"
                  data-wrap
                >
                  {% if admin.website %}
                  <li>
                    <a
                      href="{{ admin.website }}"
                      aria-label="Visit {{ admin.name }}'s website"
                      class="button"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <svg alt="Website icon" aria-hidden="true">
                        <use xlink:href="/assets/symbols.svg#website"></use>
                      </svg>
                    </a>
                  </li>
                  {% endif %}
                  <li>
                    <a
                      href="mailto:{{ admin.email }}"
                      aria-label="Email {{ admin.name }}"
                      class="button"
                    >
                      <svg alt="Email icon" aria-hidden="true">
                        <use xlink:href="/assets/symbols.svg#email"></use>
                      </svg>
                    </a>
                  </li>
                  {% for social in admin.socials %}
                  <li>
                    <a
                      href="{{ social.url }}"
                      aria-label="Follow {{ admin.name }} on {{ social.service }}"
                      class="button"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <svg alt="{{ social.service }} icon" aria-hidden="true">
                        <use
                          xlink:href="/assets/symbols.svg#{{ social.service | slugify }}"
                        ></use>
                      </svg>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </details>

      <details class="about-details">
        <summary class="about-details-summary">
          The hosts we check
          <span class="details-summary-badge">
            {{ site.event-hosts | size }}
          </span>
        </summary>
        <div class="details-body" data-padding="false">
          <table>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Website</th>
                <th scope="col">Facebook</th>
                <th scope="col">Icon</th>
              </tr>
            </thead>

            <tbody>
              {% for event-host in site.event-hosts %}
              <tr>
                <th scope="row">{{ event-host.name }}</th>
                <td>
                  <a
                    href="{{ event-host.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ event-host.url | remove: 'https://' | remove: 'www.' }}
                  </a>
                </td>
                <td>
                  <a
                    href="{{ event-host.facebook }}"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ event-host.facebook | remove: 'https://' | remove: 'www.'
                    }}
                  </a>
                </td>
                <td>
                  <div class="icon">
                    <svg alt="{{ event-host.name }} icon" aria-hidden="true">
                      <use
                        xlink:href="/assets/hosts.svg#{{ event-host.name | slugify }}"
                      ></use>
                    </svg>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </details>

      <details class="about-details">
        <summary class="about-details-summary">
          Our friends
          <span class="details-summary-badge">{{ site.friends | size }}</span>
        </summary>
        <div class="details-body">
          <ul class="grid">
            {% assign sorted_friends = site.friends | sort: 'title' %} {% for
            friend in sorted_friends %}
            <li class="grid-item">
              <img
                class="grid-item-image"
                src="/assets/img/friends/{{ friend.title | slugify }}.png"
                alt="A graphic of {{ friend.title }}"
                draggable="false"
              />

              <div class="grid-item-metadata">
                <a
                  class="grid-item-metadata-title"
                  href="{{ friend.url }}"
                  aria-label="Visit {{ friend.title }}'s website"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ friend.title }}</a
                >
                <div class="grid-item-metadata-subtitle">
                  {{ friend.subtitle }}
                </div>
                <div class="grid-item-metadata-symbol">
                  <div class="icon">
                    <svg alt="Website icon" aria-hidden="true">
                      <use
                        xlink:href="/assets/symbols.svg#{{ friend.subtitle | slugify }}"
                      ></use>
                    </svg>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </details>

      <details class="about-details">
        <summary class="about-details-summary">How to help us</summary>
        <div class="details-body">
          <p>
            We are an open source platform, meaning anyone can contribute to the
            Hard.Dance project. There's a couple of ways that you can
            contribute:
          </p>

          <dl class="x">
            <dt>Add a missing event</dt>
            <dd>
              If there is a hard dance event that we're not showing, you have
              two options:
              <ul>
                <li>
                  Go to the
                  <a href="/">
                    {% include icon.html id="calendar" name="Calendar" %} Events
                  </a>
                  page and click on the {% include icon.html id="add" name="Add"
                  %} <strong>Add</strong>
                  &nbsp;button to fill out a form to submit an event.
                </li>
                <li>
                  Go to
                  <a
                    href="{{ site.repository }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    >the open source GitHub repository</a
                  >
                  and submit a pull request. This is the preferred method as it
                  is fewer steps for us, however this is developer centric and
                  not easy for everyone.
                </li>
              </ul>
            </dd>

            <dt>Add a missing host</dt>
            <dd>Coming soon!</dd>

            <dt>Help in other ways</dt>
            <dd>
              Your unique insights and innovative ideas are invaluable to us. If
              you see opportunities for improvement or have suggestions that
              could enhance our website, we're all ears. While we can't promise
              to implement every idea, we genuinely appreciate and consider all
              contributions.
              <a href="mailto:{{ site.email }}">Let's collaborate</a>
              to make our site even better for everyone.
            </dd>

            <dt>Donations</dt>
            <dd>
              As we continue to enhance our website, your support can make a
              significant difference. Every donation we receive goes directly
              into developing new features, improving user experience, and
              covering hosting and maintenance costs. By contributing, you're
              not just donating; you're investing in a platform that grows with
              and for its community. Currently we accept
              <a
                href="https://www.paypal.com/paypalme/jongraft"
                target="_blank"
                rel="noopener noreferrer"
              >
                donations via PayPal </a
              >.
            </dd>
          </dl>
        </div>
      </details>

      <details class="about-details" id="app">
        <summary class="about-details-summary">
          How to get the Hard.Dance app
        </summary>
        <div class="details-body">
          <p>
            While Hard.Dance is not available in app stores, you can easily
            install it as a Progressive Web App (PWA) for a seamless app-like
            experience. Follow these platform-specific instructions:
          </p>

          <dl class="x">
            <dt>iOS</dt>
            <dd>
              <ol>
                <li>Open Safari and navigate to Hard.Dance.</li>
                <li>
                  Tap the {% include icon.html id="share" name="Share" %}
                  <strong>Share</strong> icon at the bottom of the screen.
                </li>
                <li>
                  Scroll down and select {% include icon.html id="add-square"
                  name="Add to home screen" %}
                  <strong>Add to Home Screen</strong>.
                </li>
                <li>Tap <strong>Add</strong> to install.</li>
              </ol>
            </dd>

            <dt>Android</dt>
            <dd>
              <ol>
                <li>Open Chrome and visit Hard.Dance.</li>
                <li>
                  Tap the {% include icon.html id="ellipsis-vertical"
                  name="Menu" %} <strong>Menu</strong> icon in the top right
                  corner.
                </li>
                <li>Tap <strong>Add to Home screen</strong>.</li>
                <li>Name the app if desired, then tap <strong>Add</strong>.</li>
              </ol>
            </dd>

            <dt>macOS</dt>
            <dd>
              <ol>
                <li>Open Safari and go to Hard.Dance.</li>
                <li>
                  Click the {% include icon.html id="share" name="Share" %}
                  <strong>Share</strong> icon in the toolbar.
                </li>
                <li>
                  Choose {% include icon.html id="add-square" name="Add to home
                  screen" %} <strong>Add to Home Screen</strong> from the share
                  options.
                </li>
                <li>Name your app and then click <strong>Add</strong>.</li>
              </ol>
            </dd>

            <dt>Windows</dt>
            <dd>
              <ol>
                <li>Open Chrome and navigate to Hard.Dance.</li>
                <li>
                  Click the {% include icon.html id="ellipsis-vertical"
                  name="Menu" %} <strong>Menu</strong> in the top right corner
                  for the menu.
                </li>
                <li>
                  Select <strong>More tools</strong>, then
                  <strong>Create shortcut</strong>.
                </li>
                <li>
                  Name the app and check <strong>Open as window</strong>, then
                  click <strong>Create</strong>.
                </li>
              </ol>
            </dd>
          </dl>

          <p>
            Now, Hard.Dance will run just like an app from your device,
            providing a full-screen, immersive experience without the need for a
            traditional app store download.
          </p>
        </div>
      </details>
    </main>
    {% include footer.html %}
  </body>
</html>
