<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>
  <body style="overflow: hidden">
    {% include header.html %}
    <video
      autoplay
      muted
      loop
      playsinline
      poster="/assets/video/about-banner.jpg"
      class="error-video"
    >
      <source src="/assets/video/about-banner.mp4" type="video/mp4" />
      <source src="/assets/video/about-banner.ogv" type="video/ogv" />
      <source src="/assets/video/about-banner.webm" type="video/webm" />
    </video>

    <div class="error-content">
      <img src="/assets/img/error.gif" alt="Where am I?" draggable="false" />
      <h1 id="error-title"></h1>
      <a href="/" class="button" data-variant="call-to-action">Go home</a>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var messages = [
          "Somehow you found yourself somewhere you shouldn't be!",
          "You’ve wandered outside the festival grounds!",
          "Too much partying, you’ve lost your way!",
          "Dude, you're in the wrong tent!",
          "Seems like you took too much special K, and have dissociated!",
        ];
        var randomIndex = Math.floor(Math.random() * messages.length);
        var randomMessage = messages[randomIndex];

        document.getElementById("error-title").innerText = randomMessage;
      });
    </script>
  </body>
</html>
