<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/animate-on-scroll.css" />
    <script src="https://unpkg.com/color.js@1.2.0/dist/color.js"></script>
    <script src="/assets/js/animate-on-scroll.js"></script>
  </head>
  <body>
    {% include header.html %}

    <div class="banner events-banner" id="top">
      {% include banner-events.html %}
    </div>

    <main>
      {% include title-bar.html %}

      <ol class="grid events-grid">
        {% assign sorted_posts = site.posts | sort: 'datestart' %} {% for post
        in sorted_posts %}
        <!-- prettier-ignore -->
        {% assign location_parts = post.location | split: ',' %}
        {% assign country_part = location_parts | last | strip %}
        {% assign country = country_part %} 

        {% case country %}
          {% when 'USA' %} {% assign flag = '🇺🇸' %}
          {% when 'Canada' %} {% assign flag = '🇨🇦' %}
          {% when 'UK' %} {% assign flag = '🇬🇧' %}
          {% when 'Nederland' %} {% assign flag = '🇳🇱' %}
          {% when 'Belgium' %} {% assign flag = '🇧🇪' %}
          {% when 'Germany' %} {% assign flag = '🇩🇪' %}
          {%- else -%}
            {% assign flag = '' %}
        {% endcase %}
        <li
          class="grid-item events-grid-item {% for host in post.hosts %}filter-host-{{ host | slugify }} {% endfor %}"
          id="grid-item-{{ forloop.index }}"
          data-location="{{ country_part | downcase }}"
          data-type="{{ post.type | downcase }}"
          {%
          if
          post.featured
          %}
          data-featured="true"
          {%
          endif
          %}
          data-aos="zoom-in-up"
        >
          <img
            class="grid-item-image"
            src="{{ post.image }}"
            alt="{{ post.title | smartify }} image"
            data-index="{{ forloop.index }}"
            draggable="false"
            loading="lazy"
            style="view-transition-name: post-image-{{ post.title | slugify }};"
          />

          <div class="grid-item-metadata">
            <a
              class="grid-item-metadata-title"
              href="{{ post.url }}"
              style="view-transition-name: post-title-{{ post.title | slugify }};"
              >{{ post.title | smartify }}</a
            >
            <div class="grid-item-metadata-subtitle">
              <time datetime="{{ post.datestart | date: '%Y-%m-%d' }}">
                {{ post.datestart | date: "%b %d" }}
              </time>

              {% if post.dateend %} &nbsp;–&nbsp;
              <time datetime="{{ post.dateend | date: '%Y-%m-%d' }}">
                {{ post.dateend | date: "%b %d" }}
              </time>
              {% endif %}
            </div>
            <div class="grid-item-metadata-symbol">{{ flag }}</div>
            <div class="event-list-item-status">Live</div>
          </div>
        </li>
        {% endfor %}
      </ol>
      <div class="events-empty-state" style="display: none">
        <div class="events-empty-state-emoji">🔇</div>
        <h2>No events found.</h2>
        <p>Do you know of an event that should be listed here?</p>
        <button
          aria-label="Add event"
          class="button"
          data-variant="call-to-action"
          onclick="document.getElementById('add-event').showModal()"
        >
          Add an event
        </button>
      </div>
    </main>

    {% include footer.html %} {% include dialog.html %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll(".grid-item-image");

        images.forEach((img) => {
          const index = img.dataset.index;
          colorjs.average(img.src).then((color) => {
            const rgbColor = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
            const listItem = document.getElementById(`grid-item-${index}`);

            // Determine the best text color for contrast
            const textColor = getContrastYIQ(color);

            // Set CSS custom properties for background and text color
            listItem.style.setProperty(
              "--_color-grid-item-background",
              rgbColor
            );
            listItem.style.setProperty(
              "--_color-grid-item-text-color",
              textColor
            );
          });
        });
      });

      function getContrastYIQ(rgbColor) {
        var r = rgbColor[0];
        var g = rgbColor[1];
        var b = rgbColor[2];
        var yiq = (r * 299 + g * 587 + b * 114) / 1000;
        return yiq >= 128 ? "black" : "white";
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const locationSelect = document.getElementById("filter-location");
        const typeSelect = document.getElementById("filter-type");
        const hostSelect = document.getElementById("filter-host");
        const posts = document.querySelectorAll(".grid-item");
        const postList = document.querySelector(".grid");
        const emptyStateDiv = document.querySelector(".events-empty-state");

        function checkForVisiblePosts() {
          // Check if any posts are visible
          const anyVisible = Array.from(posts).some(
            (post) => post.style.display !== "none"
          );
          if (anyVisible) {
            postList.style.display = ""; // Show the <ol> if there are visible posts
            emptyStateDiv.style.display = "none"; // Hide the empty state div
          } else {
            postList.style.display = "none"; // Hide the <ol> if there are no visible posts
            emptyStateDiv.style.display = "flex"; // Show the empty state div
          }
        }

        function filterPosts() {
          const selectedLocation = locationSelect.value;
          const selectedType = typeSelect.value;
          const selectedHostClass = "filter-host-" + hostSelect.value;

          posts.forEach((post) => {
            const postLocation = post
              .getAttribute("data-location")
              .toLowerCase();
            const postType = post.getAttribute("data-type").toLowerCase(); // Get the post type

            // Start with checking host
            let showPost =
              hostSelect.value === "all" ||
              post.classList.contains(selectedHostClass);

            // If the host matches, proceed to check location
            if (showPost) {
              switch (selectedLocation) {
                case "all":
                  break; // keep showPost true
                case "north-america":
                  if (!(postLocation === "usa" || postLocation === "canada")) {
                    showPost = false;
                  }
                  break;
                case "europe":
                  if (
                    !(
                      postLocation === "nederland" || postLocation === "belgium"
                    )
                  ) {
                    showPost = false;
                  }
                  break;
                // ... include other location cases as needed ...
              }
            }

            // If the host and location match, proceed to check type
            if (
              showPost &&
              selectedType !== "all" &&
              postType !== selectedType
            ) {
              showPost = false;
            }

            post.style.display = showPost ? "" : "none"; // Apply the display style
          });

          checkForVisiblePosts(); // Check if any posts are visible and update the display accordingly
        }

        typeSelect.addEventListener("change", filterPosts);
        locationSelect.addEventListener("change", filterPosts);
        hostSelect.addEventListener("change", filterPosts);

        filterPosts(); // Run once on load to set the correct initial state
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        AOS.init();
      });
    </script>
  </body>
</html>
