<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    <script src="https://unpkg.com/color.js@1.2.0/dist/color.js"></script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_api_key }}&callback=initMap"
    ></script>
  </head>
  <body>
    {% include header.html %}

    <div class="banner" id="top">{% include banner-event.html %}</div>

    <main>
      {% include title-bar.html %}

      <dl class="event-data-list">
        <dt>Date announced</dt>
        <dd>
          <time datetime="{{ page.date | date: '%Y-%m-%d' }}">
            {{ page.date | date: "%B %d, %Y" }}
          </time>
        </dd>

        <dt>Date{% if page.dateend %}s{% endif %}</dt>
        <dd>
          <time datetime="{{ page.datestart | date: '%Y-%m-%d' }}">
            {{ page.datestart | date: "%B %d, %Y" }}
          </time>
          {% if page.dateend %}&nbsp;–&nbsp;
          <time datetime="{{ page.dateend | date: '%Y-%m-%d' }}">
            {{ page.dateend | date: "%B %d, %Y" }}
          </time>
          {% endif %}
        </dd>

        {% if page.location %}
        <dt>Location</dt>
        <dd>
          <a
            href="https://www.google.com/maps/place/{{ page.location | uri_escape }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            {% include icon.html id="location" name="Location" %} {{
            page.location }}
          </a>
        </dd>
        {% endif %} {% if page.type %}
        <dt>Type</dt>
        <dd>{{ page.type }}</dd>
        {% endif %} {% if page.genre %}
        <dt>Genre</dt>
        <dd>{{ page.genre }}</dd>
        {% endif %} {% if page.age %}
        <dt>Age</dt>
        <dd>{{ page.age }}</dd>
        {% endif %} {% if page.hosts %}
        <dt>Host{% if page.hosts.size > 1 %}s{% endif %}</dt>
        <dd>
          <ul class="event-data-list-host-list">
            {% for postHost in page.hosts %} {% assign hostMatchFound = false
            %}{% for eventHost in site.event-hosts %} {% if eventHost.name ==
            postHost %} {% assign hostMatchFound = true %} {% assign
            matchedHostFB = eventHost.facebook %} {% assign matchedHostName =
            eventHost.name %} {% break %} {% endif %} {% endfor %}{% if
            hostMatchFound %}
            <li>
              <a
                href="{{ matchedHostFB }}"
                target="_blank"
                rel="noopener noreferrer"
              >
                <div class="icon">
                  <svg
                    alt="{{ {{ matchedHostName }} }} icon"
                    aria-hidden="true"
                  >
                    <use
                      xlink:href="/assets/symbols.svg#{{ matchedHostName | slugify }}"
                    ></use>
                  </svg>
                </div>
                {{ matchedHostName }}
              </a>
            </li>
            {% else %} {{ postHost }} {% endif %} {% endfor %}
          </ul>
        </dd>
        {% endif %}
      </dl>
    </main>

    {% include footer.html %}
  </body>
</html>
