<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    <script src="https://unpkg.com/color.js@1.2.0/dist/color.js"></script>
  </head>
  <body>
    {% include header.html %}

    <div class="banner events-banner" id="top">
      {% include banner-events.html %}
    </div>

    <main>
      {% include title-bar.html %}

      <ol class="grid events-grid">
        {% assign today = 'now' | date: '%Y-%m-%d' %} {% assign sorted_posts =
        site.posts | sort: 'datestart' %} {% for post in sorted_posts %} {%
        assign post_start_date = post.datestart | date: '%Y-%m-%d' %} {% if
        post_start_date >= today %}
        <!-- prettier-ignore -->
        {% assign location_parts = post.location | split: ',' %}
        {% assign country_part = location_parts | last | strip %}
        {% assign country = country_part %} 

        {% case country %}
          {% when 'USA' %} {% assign flag = '🇺🇸' %}
          {% when 'Belgium' %} {% assign flag = '🇧🇪' %}
          {% when 'Canada' %} {% assign flag = '🇨🇦' %}
          {% when 'Croatia' %} {% assign flag = '🇭🇷' %}
          {% when 'Czech Republic' %} {% assign flag = '🇨🇿' %}
          {% when 'Czechia' %} {% assign flag = '🇨🇿' %}
          {% when 'UK' %} {% assign flag = '🇬🇧' %}
          {% when 'Nederland' %} {% assign flag = '🇳🇱' %}
          {% when 'Germany' %} {% assign flag = '🇩🇪' %}
          {% when 'Switzerland' %} {% assign flag = '🇨🇭' %}
          {% when 'Poland' %} {% assign flag = '🇵🇱' %}
          {% when 'South Korea' %} {% assign flag = '🇰🇷' %}
          {% when 'Hungary' %} {% assign flag = '🇭🇺' %}
          {% when 'Austria' %} {% assign flag = '🇦🇹' %}
          {%- else -%}
            {% assign flag = '' %}
        {% endcase %}
        <li
          class="grid-item events-grid-item {% for host in post.hosts %}filter-host-{{ host | slugify }} {% endfor %}"
          id="grid-item-{{ forloop.index }}"
          data-location="{{ country_part | downcase }}"
          data-type="{{ post.type | downcase }}"
          {%
          if
          post.featured
          %}
          data-featured="true"
          {%
          endif
          %}
        >
          {% if post.featured and post.video %}
          <video
            autoplay
            muted
            loop
            playsinline
            poster="{{ post.image }}"
            class="grid-item-image"
          >
            <source
              src="/assets/video/events/{{ post.title | slugify }}.mp4"
              type="video/mp4"
            />
            <source
              src="/assets/video/events/{{ post.title | slugify }}.ogv"
              type="video/ogv"
            />
            <source
              src="/assets/video/events/{{ post.title | slugify }}.webm"
              type="video/webm"
            />
          </video>
          {% endif %}
          <img
            class="grid-item-image"
            srcset="/.netlify/images/?url={{ post.image }}&fit=cover&h=600 2x /.netlify/images/?url={{ post.image }}&fit=cover&h=900 3x"
            src="/.netlify/images/?url={{ post.image }}&fit=cover&h=300"
            alt="{{ post.title | smartify }} image"
            data-index="{{ forloop.index }}"
            draggable="false"
            loading="lazy"
            style="view-transition-name: post-image-{{ post.title | slugify }};"
          />
          <div class="grid-item-metadata">
            <a
              class="grid-item-metadata-title"
              href="{{ post.url }}"
              style="view-transition-name: post-title-{{ post.title | slugify }};"
              >{{ post.title | smartify }}</a
            >
            <div class="grid-item-metadata-subtitle">
              <time datetime="{{ post.datestart | date: '%Y-%m-%d' }}">
                {{ post.datestart | date: "%b %d" }}
              </time>

              {% if post.dateend %} &nbsp;–&nbsp;
              <time datetime="{{ post.dateend | date: '%Y-%m-%d' }}">
                {{ post.dateend | date: "%b %d" }}
              </time>
              {% endif %}
            </div>
            <div class="grid-item-metadata-symbol">{{ flag }}</div>
            {% assign today = 'now' | date: '%Y-%m-%d' %} {% assign start_date =
            post.datestart | date: '%Y-%m-%d' %} {% assign end_date =
            post.dateend | date: '%Y-%m-%d' %} {% if post.dateend %} {% if today
            >= start_date and today <= end_date %}
            <div class="event-list-item-status">Today</div>
            {% endif %} {% else %} {% if today == start_date %}
            <div class="event-list-item-status">Today</div>
            {% endif %} {% endif %}
          </div>
        </li>
        {% endif %} {% endfor %}
      </ol>
      <div class="events-empty-state" style="display: none">
        <div class="events-empty-state-emoji">🔇</div>
        <h2>No events found.</h2>
        <p>Do you know of an event that should be listed here?</p>
        <button
          aria-label="Add event"
          class="button"
          data-variant="call-to-action"
          onclick="document.getElementById('add-event').show()"
        >
          Add an event
        </button>
      </div>
    </main>

    {% include footer.html %} {% include dialog.html %} {% include scripts.html
    %}
  </body>
</html>
