<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    <script src="https://unpkg.com/color.js@1.2.0/dist/color.js"></script>
  </head>
  <body>
    {% include header.html %}

    <div class="banner" data-variant="events" id="top">
      {% include banner-events.html %}
    </div>

    <main>
      <div class="page-title">
        <h1>Events</h1>

        <div class="page-title-input-container">
          <label for="location"
            >Location
            <select name="location" id="location">
              <option value="all" selected>All</option>
              <option value="north-america">North America</option>
              <option value="south-america">South America</option>
              <option value="europe">Europe</option>
              <option value="asia">Asia</option>
            </select>
          </label>

          <label for="type"
            >Type
            <select name="type" id="type">
              <option value="all" selected>All</option>
              <option value="festival">Festival</option>
              <option value="arena">Arena</option>
              <option value="club">Club</option>
              <option value="underground">Underground</option>
            </select>
          </label>
        </div>
      </div>

      <ol class="grid event-list">
        <!-- prettier-ignore -->
        {% assign current_time = 'now' | date: '%s' %}
        {% assign sorted_posts = site.posts | sort: 'datestart' %}
        
        {% for post in sorted_posts %}
          {% assign post_time = post.datestart | date: '%s' %}
          {% if post_time >= current_time %}
            {% assign location_parts = post.location | split: ',' %}
            {% assign country_part = location_parts | last | strip %}
        
            {% case country_part %}
              {% when 'USA' %}      {% assign flag = '🇺🇸' %}
              {% when 'Canada' %}   {% assign flag = '🇨🇦' %}
              {% when 'UK' %}       {% assign flag = '🇬🇧' %}
              {% when 'Nederland' %}{% assign flag = '🇳🇱' %}
              {% when 'Belgium' %}  {% assign flag = '🇧🇪' %}
              {% else %}            {% assign flag = '' %}
            {% endcase %}
        <li
          class="event-list-item"
          id="event-list-item-{{ forloop.index }}"
          data-location="{{ country_part | downcase }}"
          data-type="{{ post.type | downcase }}"
          {%
          if
          post.featured
          %}
          data-featured="true"
          {%
          endif
          %}
        >
          <!-- Event Image -->
          <img
            class="event-list-item-image"
            src="{{ post.image }}"
            alt="{{ post.title | smartify }} image"
            data-index="{{ forloop.index }}"
            draggable="false"
            loading="lazy"
            style="view-transition-name: post-image-{{ post.title | slugify }};"
          />

          <div class="event-list-item-metadata">
            <a
              class="event-list-item-metadata-title"
              href="{{ post.url }}"
              style="view-transition-name: post-title-{{ post.title | slugify }};"
              >{{ post.title | smartify }}</a
            >
            <div class="event-list-item-metadata-date">
              <time datetime="{{ post.datestart | date: '%Y-%m-%d' }}">
                {{ post.datestart | date: "%b %d" }}
              </time>
              {% if post.dateend %} &nbsp;–&nbsp;
              <time datetime="{{ post.dateend | date: '%Y-%m-%d' }}">
                {{ post.dateend | date: "%b %d" }}
              </time>
              {% endif %}
            </div>
            <div class="event-list-item-metadata-location">{{ flag }}</div>
          </div>
          <!-- <div class="event-list-item-status">Live</div> -->
        </li>
        {% endif %} {% endfor %}
      </ol>
      <div class="empty-state" style="display: none">
        <div class="empty-state-emoji">🔇</div>
        <h2>No events found.</h2>
        <p>
          Do you know of an event that should be listed here?
          <a href="mailto:{{ site.email }}">Reach out to us</a> or
          <a href="#">consider adding it yourself</a>.
        </p>
      </div>
    </main>

    {% include footer.html %} {% include dialog.html %}

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll(".event-list-item-image");

        images.forEach((img) => {
          const index = img.dataset.index;
          colorjs.average(img.src).then((color) => {
            const rgbColor = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
            const listItem = document.getElementById(
              `event-list-item-${index}`
            );
            listItem.style.setProperty("--color-tile-image-color", rgbColor);
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const locationSelect = document.getElementById("location");
        const typeSelect = document.getElementById("type"); // Get the type select element
        const posts = document.querySelectorAll(".event-list-item");
        const postList = document.querySelector(".event-list"); // Select the <ol>
        const emptyStateDiv = document.querySelector(".empty-state"); // Select the empty state div

        function checkForVisiblePosts() {
          // Check if any posts are visible
          const anyVisible = Array.from(posts).some(
            (post) => post.style.display !== "none"
          );
          if (anyVisible) {
            postList.style.display = ""; // Show the <ol> if there are visible posts
            emptyStateDiv.style.display = "none"; // Hide the empty state div
          } else {
            postList.style.display = "none"; // Hide the <ol> if there are no visible posts
            emptyStateDiv.style.display = "flex"; // Show the empty state div
          }
        }

        function filterPosts() {
          const selectedLocation = locationSelect.value;
          const selectedType = typeSelect.value; // Get the selected type

          posts.forEach((post) => {
            const postLocation = post
              .getAttribute("data-location")
              .toLowerCase();
            const postType = post.getAttribute("data-type").toLowerCase(); // Get the post type

            // Decide whether to show or hide the post based on the selectedLocation and selectedType
            let showPost = false;

            // Check location
            switch (selectedLocation) {
              case "all":
                showPost = true;
                break;
              case "north-america":
                if (postLocation === "usa" || postLocation === "canada") {
                  showPost = true;
                }
                break;
              case "europe":
                if (
                  postLocation === "nederland" ||
                  postLocation === "belgium"
                ) {
                  showPost = true;
                }
                break;
              // ... include other location cases as needed ...
            }

            // Check type, if showPost is still true from the location check
            if (
              showPost &&
              selectedType !== "all" &&
              postType !== selectedType
            ) {
              showPost = false;
            }

            post.style.display = showPost ? "" : "none"; // Apply the display style
          });

          checkForVisiblePosts(); // Check if any posts are visible and update the display accordingly
        }

        // Add event listener for changes in the type select
        typeSelect.addEventListener("change", filterPosts);

        // Add event listener for changes in the location select
        locationSelect.addEventListener("change", filterPosts);

        filterPosts(); // Run once on load to set the correct initial state
      });
    </script>
  </body>
</html>
