<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    <script src="https://unpkg.com/color.js@1.2.0/dist/color.js"></script>
  </head>
  <body>
    <div class="banner">{% include globe.html %}</div>

    <div class="page-title">
      <h1>Events</h1>

      <nav>
        <button>North America</button>
        <button>South America</button>
        <button>Europe</button>
        <button>Asia</button>
      </nav>
    </div>

    <ol class="event-list">
      {% assign sorted_posts = site.posts | sort: 'datestart' %} {% for post in
      sorted_posts %}
      <li class="event-list-item" id="event-list-item-{{ forloop.index }}">
        <img
          class="event-list-item-image"
          src="{{ post.image }}"
          alt="{{ post.title | smartify }} image"
          data-index="{{ forloop.index }}"
          draggable="false"
          loading="lazy"
        />

        <div class="event-list-item-metadata">
          <a class="event-list-item-metadata-title" href="{{ post.url }}"
            >{{ post.title | smartify }}</a
          >
          <div class="event-list-item-metadata-date">
            <time datetime="{{ post.datestart | date: '%Y-%m-%d' }}">
              {{ post.datestart | date: "%b %d" }}
            </time>

            {% if post.dateend %} &nbsp;–&nbsp;
            <time datetime="{{ post.dateend | date: '%Y-%m-%d' }}">
              {{ post.dateend | date: "%b %d" }}
            </time>
            {% endif %}
          </div>
          <div class="event-list-item-metadata-location">
            <!-- prettier-ignore -->
            {% assign location_parts = post.location | split: ',' %}
              {% assign country_part = location_parts | last | strip %}
              {% assign country = country_part %} 

              {% case country %}
                {% when 'USA' %}
                  {% assign flag = '🇺🇸' %}
                {% when 'Canada' %}
                  {% assign flag = '🇨🇦' %}
                {% when 'UK' %}
                  {% assign flag = '🇬🇧' %}
                {% when 'Nederland' %}
                  {% assign flag = '🇳🇱' %}
                {% when 'Belgium' %}
                  {% assign flag = '🇧🇪' %}
                {%- else -%}
                  {% assign flag = '' %}
              {% endcase %}

              {{ flag }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Select all images
        const images = document.querySelectorAll(".event-list-item-image");

        images.forEach((img) => {
          const index = img.dataset.index; // Get the index from the data attribute
          colorjs.average(img.src).then((color) => {
            const rgbColor = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
            const listItem = document.getElementById(
              `event-list-item-${index}`
            );
            listItem.style.backgroundColor = rgbColor; // Apply the color to the <li>
          });
        });
      });
    </script>
  </body>
</html>
